@font-face {
   font-family: '方正兰亭黑_GBK';
   font-display: swap;
   src: url('file:///F:/Timriver/00-Mobirise/SHIKA%20Teppanyaki%20&%20Sushi/200901/fonts/%E6%96%B9%E6%AD%A3%E5%85%B0%E4%BA%AD%E9%BB%91_GBK/font.TTF');
}
